* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: auto;
  font-family: Arial;
}


.Mon {
  background-color: #777;
  color: white;
  float: left;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 10px;
  width: 100%;
  height: auto;
  font-family: Arial;
}

.cal {
  background-color: #777;
  color: white;
  float: left;
  cursor: pointer;
  border:none;
  outline:none;
  padding: 14px 16px;
  font-size: 14px;
  width: 50%;
  height: auto;
  font-family: Arial;
}



/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  font-size: 12px;
  width: 20%;
  height: 120px;
  font-family: Arial;
}

.choose{
  background-color: #555;
  width: 100%;
  height: 120px;
  float: left;
  border: none;
  outline: none;
  position: sticky;

}

/* sub tab links */
.tablink_s {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 12px;
  width: 100%;
  height:120px;
  font-family: Arial;

}

.openlink{
  background-color: #555;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 4px 16px;
  font-size: 12px;
  height:auto;
  width: auto;
  font-family: Arial;
}

.openlink:hover{
  background-color: #777;
}

.tablink:hover {
  background-color: #777;
}

.tablink_s:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display:flex;
  padding: 100px 20px;
  height: 100%;
}

#Main {background-color: #D0505D;}
#Home {background-color: SteelBlue;}
#News {background-color: #CC6600;}
#Contact {background-color: #E1929A;}
#About {background-color: #6194A7;}

#PE {background-color: #CC6600;}
#PC {background-color: #CC6600;}
#HZM {background-color: #CC6600;}
#PA {background-color: #CC6600;}
#PI {background-color: #CC6600;}
#TT {background-color: #CC6600;}
#PT {background-color: #CC6600;}
#PMH {background-color: #CC6600;}

#SP {background-color: #E1929A;}
#SR {background-color: #E1929A;}
#TNR {background-color: #E1929A;}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  height: auto;
  }
