* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: auto;
  font-family: Arial;
}


.Mon {
  background-color: #777;
  color: white;
  float: left;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 10px;
  width: 100%;
  height: auto;
  font-family: Arial;
}
